

@media (min-width:270px) and (max-width:466px){
    .mainIndex{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        
        
    } 
    
   
    .mainIndex__section1{
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        flex-direction: column;
      
    }
    article{ 
        
        .mainIndex__section1-titulo{
        height: 15rem;
        width: 100%;
        display: flex;
        text-shadow: 0.1rem 0.1rem 0.5rem rgb(122, 100, 100);
            h1{
                font-size: 4rem;
            }
        }
    }
    article{

        .mainIndex__section1-subtitulo{
        height: 20rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10rem;
        border: radius 50%; 
        transition: background 1s;
            h3{
                font-size: 2.5rem;
            }
        }
    }        
    .mainIndex__section1-subtitulo:hover{
        border-radius: 50%;
        background:#872424 ;
        text-shadow: 0.2rem 0.1rem 0.5rem rgba(209, 197, 197, 0.946);
         h3{
            font-size: 2.5rem;
         }
      }

    .mainIndex__section2{
       display: none;
    
        &-img_1{display:none;}
        &-img_2{display:none;}
        &-img_3{display:none;}
        &-img_4{display:none;}
     }
      
}