
*{
    margin: 0%;
    padding: 0%;
    
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    
  }
html{
    font-size: 62.5%;
}
@import "./parciales/mainIndex";
@import "./parciales/header";
@import "./parciales/footer";
.bodyIndex{
    margin: 0%;
    padding: 0%;
    background: url(https://images.pexels.com/photos/6287575/pexels-photo-6287575.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100% 45%;
    background-repeat: no-repeat;
}

.mainIndex{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width:100%;
    height: 74rem;
    margin-top: 50rem;
    column-gap: 30rem ;
    background-color: #ffe3c2;
        &__section1{
            align-items: center;
            flex-direction: column;
                &-titulo{ 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 20rem;
                    width: 50rem;
                    font-size: 7rem;
                    margin-top: 2rem;
                    margin-left: 6rem;
                 
                }
                &-titulo:hover{
                    animation: escala 4s linear;
 
                }   
                    @keyframes escala{
                        0%{-webkit-transform: scale(1.0);
                            transform: scale(1.1) }
                
                        100%{-webkit-transform: scale(1.1);
                            transform: scale(1.1);}
                
                }
                &-titulo hr{
                    width: 18rem;
                }
                &-subtitulo{
                    height: 21rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-top: 10rem;
                    margin-left: 5rem;
                    border-radius: 50%;
                    font-size: 4rem;
                    text-shadow: 0.2rem 0.1rem 0.5rem rgba(209, 197, 197, 0.946);
                    transition: background 1s;
                }
                &-subtitulo:hover{
                    background:#872424 ;
                    border-radius: 50%;
                    text-shadow: 0.2rem 0.1rem 0.5rem rgba(209, 197, 197, 0.946);
                    font-size: 5rem;
                    margin-left: 4rem;
                }
                &-subtitulo h3{
                    font-size: 3.5rem; 
                }
        }
        &__section2{
            margin-top: 0.5em;
            width: 100rem;
            height: auto;
            display: grid;
            grid-template-columns: 1.5fr 2fr 1.5fr ;
            grid-template-rows: 1fr 2fr 1fr 2fr ;
            grid-template-areas: "img_1 img_3 img_3 img_3"
                                 "img_1 img_3 img_3 img_3"
                                 "img_4 img_4 img_2 img_2"
                                 "img_4 img_4 img_2 img_2";
            
            gap: 1rem;
            &-img_1{
                grid-area: img_1;
                transition: transform 2s;
            }
            &-img_1:hover{
                transform: translate(-20rem);
            }
            &-img_2{
                grid-area: img_2;
                transition: transform 2s;
            }
            &-img_2:hover{
                transform: translateY(20rem);
            }
            &-img_3{
                grid-area: img_3;
                transition: transform 2s; 
            }
            &-img_3:hover{
                transform: translateY(-20rem);
            }
            &-img_4{
                grid-area: img_4;
                transition: transform 2s;
            }
            &-img_4:hover{
                transform: translate(-10rem, 10rem);
            }

        
        }
}
.complemento{
    display: flex;
    border-top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe3c2;
    background-image: url(https://images.pexels.com/photos/2697229/pexels-photo-2697229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100% 100%;

        &__chefs{
            width: 100%;
            height: 100%;
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "titulo_chefs titulo_chefs titulo_chefs"
            " chef1       chef2        chef3";
            align-items: center;
            column-gap: 2rem;
            margin-top: 0;
                
            
           
            &-tituloChefs{
                grid-area: titulo_chefs;
                width: 100%;
                height: 10%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 10rem;    
                font-size: 4rem;
                color: rgb(255, 255, 253);
                text-shadow: 0.2rem 0.5rem 0.7rem black;            
            }
            &-chef1{
                grid-area: chef1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            &-chef2{
                grid-area: chef2;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            }
            &-chef3{
                grid-area: chef3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            &-chef1 img{
                
                width: 25rem;
                height: 25rem;
                text-shadow: 0.1rem 0.1rem 0.4rem white; 
            }
            &-chef1 img:hover{
                animation: imagen 1s linear;
                transition-duration: transform 1s;
            }   
                 @keyframes imagen{
                    0%{-webkit-transform: scale(1.0);
                    transform: scale(1.1);}
            
                    100%{-webkit-transform: scale(1.1);
                    transform: scale(1.1);}
            
                }
            &-chef2 img{
                
                width: 25rem;
                height: 25rem;
                text-shadow: 0.1rem 0.1rem 0.4rem white; 
            }
            &-chef2 img:hover{
                    animation: imagen 1s linear;
                    transition-duration: transform 1s;
                }   
                @keyframes imagen{
                    0%{-webkit-transform: scale(1.0);
                    transform: scale(1.1);}
                
                    100%{-webkit-transform: scale(1.1);
                    transform: scale(1.1);}                
                }
            &-chef3 img{
                
                width: 25rem;
                height: 25rem;
                text-shadow: 0.1rem 0.1rem 0.4rem white; 
            }
            &-chef3 img:hover{
                animation: imagen 1s linear;
                transition-duration: transform 1s;
            }   
                 @keyframes imagen{
                    0%{-webkit-transform: scale(1.0);
                    transform: scale(1.1);}
                
                    100%{-webkit-transform: scale(1.1);
                    transform: scale(1.1);}
                
                }        
            &-chef1 h2{
                font-size: 1.5rem;
                color: rgb(255, 255, 253);
                text-shadow: 0.2rem 0.5rem 0.7rem black;
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;    
            
            }
            &-chef2 h2{
                font-size: 1.5rem;
                color: rgb(255, 255, 253);
                text-shadow: 0.2rem 0.5rem 0.7rem black;
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;    
            
            }    
            &-chef3 h2{
                font-size: 1.5rem;
                color: rgb(255, 255, 253);
                text-shadow: 0.2rem 0.5rem 0.7rem black;
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;    
            
            }    

        }

}




/**NOSOTROS**/




.body__nosotros{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../imagenes/fondopastas2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
.main__nosotros{
        width: 100%;
        height: 50%;
        margin: 0%;
        bottom: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        background: transparent;


        &-titulo{
        display: flex;
        height: 100rem;
        margin:0%;
        padding: 0% 2rem;
        justify-content:center;
        row-gap: 2rem; 
        align-items: center;
        flex-direction: column;
        
        & h1{
            font-size: 6rem;
            color: rgb(239, 237, 237);
            text-shadow: 1rem 0.3rem 0.7rem rgb(107, 105, 105);
            width: 100%;
            height: 20rem;
            justify-content: center;
            align-items: center;
            text-align:center ;
        
            }
        & p{
            font-size: 3rem;
            color: rgb(239, 237, 237);
            text-shadow: 1rem 0.3rem 0.7rem rgb(107, 105, 105);
            width: 100%;
            height: 20rem;
            margin-top: 30rem;
            justify-content: center;
            align-items: center;
            text-align:center ;
            background: transparent;     
            }
    }
}    
.section__nosotros{
    width: auto;
    height: auto;
    
    &-img{
    width: 100%;
    height: 100%; 
    display: block; 
    }
    &-img2{
    display: none;
    }
}  



/**la Cucina**/



.body__cucina{
    background: url(../imagenes/fondococina.jpg);
    background-repeat: repeat;

}
.menu__cucina{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-top: 10rem;
    background: transparent;
    margin-bottom: 10rem;
     
        &-img{
            box-shadow:1rem 0.3rem 0.7rem rgb(107, 105, 105);}
}



/**Ustedes**/

.body__ustedes{
    background:url(../imagenes/fondoustedess.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
}
.titulo__ustedes{
    text-align: center;
    padding: 2.5rem 0;
    margin-top: 10rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: #e7dac2;
    font-size: 4rem;
    font-family: sans-serif rgb(239, 237, 237);
    text-shadow: 1rem 0.3rem 0.7rem rgb(107, 105, 105);
}

.main__ustedes{
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem; 
    background: transparent;
    .carousel-item{
        width: 50vw;
        height: 60vh;
        .imagenescarousel{
            width: 50vh;
            height: 60vh;
        }
    }

}

/**Contactanos**/ 


.body__contacto{
    background: url(../imagenes/fondocontacto.jpg);
}

.main__contacto{
    width: 100%;
    height: 100%;
    display: flex;
    background: transparent;
    margin: 0%;
    &-cajitaFormulario{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-form{
            width:50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        
            flex-direction: column;
            background-color:rgb(133, 38, 38) ;
            border-radius: 0.3rem;
            color: black;
            font-size: 1rem;
            
            border-color: black;
            border: 0.4rem solid black;
            input textarea{
                border: 0;
                outline: none;
            
                width: 28rem;
            
            }
            .field{
                width:20rem;
                border: solid 0.5rem black;
                padding: 1rem;
             }
            .field:focus{
                border-color: rgb(219, 203, 54);

            }
            label{
                font-size: 3rem;
 
            } 
            .center-content{
                text-align: center;

            }
            form p{
                color: black;
 
            }
            .btn{
                font-size: 2rem;
                background-color: rgb(133, 38, 38);

            }
        }
    }
}

/**medias queries**/ 

@media (min-width: 990px) and (max-width: 1200px){
    .navbar-nav{
        font-size: 3rem;
        column-gap: 3rem;
    }
   
    .navbar{
        background-color: #ffe3c2;
        border-radius: 50%;
    }
    
}

@media (min-width:500px) and (max-width:850px){
    .main__nosotros-titulo{
        justify-content: space-between;
    }     
    .main__nosotros-titulo p {
        font-size: 3rem;
        width: 90%;
        height: 100%;
        margin-top: 1rem;
        }
    }    
@media (min-width:466px) and (max-width:500px){
    .main__nosotros-titulo{
        justify-content: space-between;
    }     

    .main__nosotros-titulo p {
        font-size: 3rem;
        width: 90%;
        height: 100%;
        margin-top: 3rem;
    }
    .section__nosotros{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .section__nosotros-img{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .section__nosotros-img2{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
}
@media (min-width:1400px) and (max-width:2400px){
    .main__nosotros-titulo p {
        font-size: 4rem;
        width: 90%;
        height: 100%;
        margin-top: 3rem;
    }    

}

@media (min-width:850px) and (max-width:2400px){
    .section__nosotros-img{
        display: flex;
        width: 100%;
        height: 100%;
        }
    

}

@media (min-width:270px) and (max-width:466px){
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        &-toggler-icon{
            display:flex;
            align-items: center;
            justify-content: center;}
        
        }
    .logo{ 
        width: 20rem;
        height: 20rem;
    }
   
    
    .carousel-item{
        width: 70vw;
        height: 70vh;
        }
    .carousel-inner{
        justify-content: center;
        align-items: center;
        }
    .imagenescarousel{
        width: 70vh;
        height: 70vh; 
        } 
    .main__nosotros-titulo p {
        font-size: 1.5rem;
        width: 90%;
        height: 100%;
        margin-top: 3rem;
    }    
    .main__nosotros-titulo{
        justify-content: space-between;
    }     
   
    .section__nosotros-img{
        display: flex;
        width: 100%;
        height: 100%;
        }
    .section__nosotros-img2{
        display: flex;
        width: 100%;
        height: 100%;
        }

    }
     
@media (min-width:270px) and (max-width:780px){     
    .complemento{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
            &__chefs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-tituloChefs{
                    top: 1rem;
                    width: 100%;
                    height: 10rem;
                    font-size: 2.5rem;
                    justify-content: center;
                    align-items: center;
                }
                &-chef1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 15rem;
                        height: 15rem;}
                }
                &-chef2{ 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 15rem;
                        height: 15rem;}

                }
                &-chef3{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 15rem;
                        height: 15rem;}

                }    
                
            }
 
        }
    }                    


  
