
*{
    margin: 0%;
    padding: 0%;
    
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
  }
html{
    font-size: 62.5%;
}
.body_cucina{
    background: url(../imagenes/fondococina.jpg);
    background-repeat: repeat;

}
$formas:(
    altura: 30rem,
    bordeR: 50%); 


 .logo {  height: map-get($formas, altura);
            border-radius: map-get($formas, bordeR);
    }




.logo:hover{
    border:0.2rem solid #852626;
}
@mixin nav {
    background: rgb(255,227,194);
    border-radius: 50%;
    
}
.navbar{
    @include nav;

}

.navbar-nav{
    font-size: 4rem ;
    column-gap: 3rem;
    
}
.nav-link{
    border-radius: 50%;
}
.nav-link:hover{
    background-color: #852626;
    border-color: black;
    border: 0.2rem solid;
    border-radius: 50%;
}


.menu_cucina{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-top: 10rem;
    background: transparent;
    margin-bottom: 10rem;
     
        .menu_cucina-img{
            box-shadow:1rem 0.3rem 0.7rem rgb(107, 105, 105) ;

        }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
   

    &__boton-arriba{
        @extend .footer;
        position: absolute;
        justify-content: center;
        
        
    }

    &__caja{
        @extend .footer;
        width: 100%;
        height: 10rem;
        flex-direction: row;
        bottom: 0;
        background-color: #ffe3c2;

        &-icon{
            width:6rem;
            height:6rem;
        }
    } 
    
    &__copy{
        width: 100%;
        height: 2rem;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Segoe UI';
        background-color: #ffe3c2 ;

        h5 {
            margin: 0;
    
    
            strong{
                color:rgb(133, 38, 38);}
        }
    }
}



